<nav class="navbar navbar-expand-md navbar-light bg-light" style="z-index:0;">
  <div class="container">
    <a routerLink="">
      <img class="navbar-brand" src="../../assets/images/ttc-logo.png" style="height: 42px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color:#000; font-size:28px;"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container content">
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12"><small>&copy; ttc-platform - Hmd.Rnj.98 2021</small></div>
    </div>
  </footer>
</div>
