<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a routerLink="">
      <img class="navbar-brand" src="../../assets/images/ttc-logo.png" style="height: 42px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color:#000; font-size:28px;"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isLoggedIn()">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle">Hello {{getUserName()}} </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="user-dashboard">dashboard</a>
            <a class="dropdown-item" (click)="logOut()">logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container content">
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12"><small>&copy; ttc-platform - Hmd.Rnj.98 2021</small></div>
    </div>
  </footer>
</div>