<div class="row">
    <h2>pricing</h2>
    <div class="col-md-4 col-12">
        <div class="card pricing">
            <h2>
                Participate
            </h2>
            <p>
                participate and get access to all free resources 
            </p>
            <h1>
                <b>Free</b>
            </h1>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card">
            <h2>
                Recharge
            </h2>
            <p>
                recharge your account for two more weeks
            </p>
            <h1>
                <b>299,000</b>
                <sub>
                    Rials
                </sub>
            </h1>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card">
            <h2>
                Certificate
            </h2>
            <p>
                get certified as a qualified English teacher
            </p>
            <h1>
                <b>500,000</b>
                <sub>
                    Rials
                </sub>
            </h1>
        </div>
    </div>
</div>