<div class="row">
    <div class="col-12 col-md-8">
        <h1>Already a member? Please <a routerlink="/login">log in</a> instead</h1>
        <form>
            <!-- <div role="alert" *ngif="formErrors" class="alert alert-danger">{{ formError }}</div> -->
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Email address</mat-label>
                <input required type="email" required matInput formControlName="email"
                    placeholder="username@service.com">
                <mat-error
                    *ngIf="signupGroupFormControl.controls.email.hasError('email') && !signupGroupFormControl.controls.email.hasError('required')">
                    Please enter a valid email address!</mat-error>
                <mat-error *ngIf="signupGroupFormControl.controls.email.hasError('required')">Email is
                    <b>REQUIRED</b>!
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Password</mat-label>
                <input required type="password" required matInput formControlName="password" placeholder="123abc!@#">
                <mat-error *ngIf="signupGroupFormControl.controls.email.hasError('required')">Email is <b>REQUIRED</b>!
                </mat-error>
            </mat-form-field>
            <button type="submit" role="button" class="btn btn-primary">Register!</button>
        </form>
    </div>
</div>