doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
      script(src='build/runtime.89a36ad490daa35887a5.js')
      script(src='build/polyfills.cd219044b1e252aec8f7.js')
      script(src='build/main.4ee35242d2c76b7ccc69.js')