doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='styles.0ae1c3a87c6e0f4f42ad.css')
    link(rel='stylesheet', href='assets/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='assets/stylesheets/all.min.css')
    link(rel='stylesheet', href='assets/stylesheets/style.css')
  body
    block content
    block scripts
      script(src='runtime.89a36ad490daa35887a5.js')
      script(src='polyfills.cd219044b1e252aec8f7.js')
      script(src='main.c6ac734db4ae3eeee364.js')