extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1
        b= program.name

  nav.navbar.navbar-light.bg-light
    .container.justify-content-center
      h3 
        b General Teacher Training Program 
  .row
    .container.content
      .col-12
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec egestas lectus, eget eleifend ante. Aliquam non mattis elit, sed molestie justo. Sed sapien justo, feugiat id neque non, tincidunt laoreet nunc. Integer accumsan lectus ac nibh ullamcorper pulvinar. Quisque porta, urna non feugiat maximus, nisi justo facilisis mi, vel porta ipsum lorem a quam. Praesent lorem tortor, facilisis eget fringilla quis, vestibulum at massa. Nam tincidunt ipsum egestas augue viverra, id lobortis leo suscipit. Integer sit amet tristique augue. Suspendisse potenti. Integer vel gravida neque. Vivamus bibendum ullamcorper tincidunt. Pellentesque facilisis, felis at mollis scelerisque, arcu dolor aliquet urna, nec eleifend neque sem ac velit.
        | Etiam nec sem pretium, congue orci semper, aliquet leo. Ut iaculis id felis eleifend accumsan. Cras vehicula pretium tellus a interdum. Ut in consequat justo. Aliquam eu eros in augue scelerisque luctus. Mauris porttitor ullamcorper tristique. Praesent fermentum tellus eu orci tincidunt, eu mollis justo dignissim. Aenean quam dolor, accumsan sit amet tortor in, porta malesuada purus.
  nav.navbar.navbar-light.bg-light
    .container.justify-content-center
      h3 
        b Overview Requirements Syllabus
  .row
    .container.content
      .col-12
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec egestas lectus, eget eleifend ante. Aliquam non mattis elit, sed molestie justo. Sed sapien justo, feugiat id neque non, tincidunt laoreet nunc. Integer accumsan lectus ac nibh ullamcorper pulvinar. Quisque porta, urna non feugiat maximus, nisi justo facilisis mi, vel porta ipsum lorem a quam. Praesent lorem tortor, facilisis eget fringilla quis, vestibulum at massa. Nam tincidunt ipsum egestas augue viverra, id lobortis leo suscipit. Integer sit amet tristique augue. Suspendisse potenti. Integer vel gravida neque. Vivamus bibendum ullamcorper tincidunt. Pellentesque facilisis, felis at mollis scelerisque, arcu dolor aliquet urna, nec eleifend neque sem ac velit.
        | Etiam nec sem pretium, congue orci semper, aliquet leo. Ut iaculis id felis eleifend accumsan. Cras vehicula pretium tellus a interdum. Ut in consequat justo. Aliquam eu eros in augue scelerisque luctus. Mauris porttitor ullamcorper tristique. Praesent fermentum tellus eu orci tincidunt, eu mollis justo dignissim. Aenean quam dolor, accumsan sit amet tortor in, porta malesuada purus.
      
  nav.navbar.navbar-light.bg-light
    .container.justify-content-center
      h3 
        b Tehran Institute of Technology
  .row
    .container.content
      .col-12
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec egestas lectus, eget eleifend ante. Aliquam non mattis elit, sed molestie justo. Sed sapien justo, feugiat id neque non, tincidunt laoreet nunc. Integer accumsan lectus ac nibh ullamcorper pulvinar. Quisque porta, urna non feugiat maximus, nisi justo facilisis mi, vel porta ipsum lorem a quam. Praesent lorem tortor, facilisis eget fringilla quis, vestibulum at massa. Nam tincidunt ipsum egestas augue viverra, id lobortis leo suscipit. Integer sit amet tristique augue. Suspendisse potenti. Integer vel gravida neque. Vivamus bibendum ullamcorper tincidunt. Pellentesque facilisis, felis at mollis scelerisque, arcu dolor aliquet urna, nec eleifend neque sem ac velit.
        | Etiam nec sem pretium, congue orci semper, aliquet leo. Ut iaculis id felis eleifend accumsan. Cras vehicula pretium tellus a interdum. Ut in consequat justo. Aliquam eu eros in augue scelerisque luctus. Mauris porttitor ullamcorper tristique. Praesent fermentum tellus eu orci tincidunt, eu mollis justo dignissim. Aenean quam dolor, accumsan sit amet tortor in, porta malesuada purus.
      
  nav.navbar.navbar-light.bg-light
    .container.justify-content-center
      h3 
        b Delivered by: Narges Moghadam
  .row
    .container.content
      .col-12
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec egestas lectus, eget eleifend ante. Aliquam non mattis elit, sed molestie justo. Sed sapien justo, feugiat id neque non, tincidunt laoreet nunc. Integer accumsan lectus ac nibh ullamcorper pulvinar. Quisque porta, urna non feugiat maximus, nisi justo facilisis mi, vel porta ipsum lorem a quam. Praesent lorem tortor, facilisis eget fringilla quis, vestibulum at massa. Nam tincidunt ipsum egestas augue viverra, id lobortis leo suscipit. Integer sit amet tristique augue. Suspendisse potenti. Integer vel gravida neque. Vivamus bibendum ullamcorper tincidunt. Pellentesque facilisis, felis at mollis scelerisque, arcu dolor aliquet urna, nec eleifend neque sem ac velit.
        | Etiam nec sem pretium, congue orci semper, aliquet leo. Ut iaculis id felis eleifend accumsan. Cras vehicula pretium tellus a interdum. Ut in consequat justo. Aliquam eu eros in augue scelerisque luctus. Mauris porttitor ullamcorper tristique. Praesent fermentum tellus eu orci tincidunt, eu mollis justo dignissim. Aenean quam dolor, accumsan sit amet tortor in, porta malesuada purus.